.board-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.board-box canvas {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    touch-action: none;
}

.board-add-page {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 16px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background: rgba(33, 194, 33, 1);
    color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.44);
    border: 0;
    outline: none;
}

.board-add-page.disable {
    background: #999;
}

#board-rubber-area {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 1px dashed #eee;
    background-color: #aaa;
    z-index: 9999;
    opacity: 0.6;
    display: none;
}